#verde {
    background-color: green;
    width: 700px;
    height: 500px;
    position: absolute;
}
#azul {
    background-color: blue;
    width: 500px;
    height: 400px;
    position: absolute;
}
#amarela {
    background-color: yellow;
    width: 300px;
    height: 300px;
    position:absolute;
    top: 0;
    right: 0;
}